<section class="p-6 my-12">
<h1 class="text-center text-4xl font-bold text-gray-800 mt-4"><%= @competition.name.capitalize %></h1>
<br>
<% if current_user.admin? %>
  <ul>
    <li> <%= link_to "Update Game Week", current_match_day_competition_path(@competition), data: { 'turbo-method' => :post }, class: 'custom-link' %> - Use this link to update the current Game Week</li>
    <li> <%= link_to 'Add Player', edit_competition_path(@competition), class: 'custom-link' %> - Add a registered player to the competition</li>
  </ul>
<% end %>
<br>
<ul>
  <li><%= link_to 'Competitions Home Page', competitions_path, class: 'custom-link' %></li>
  <li><%= link_to 'Leaderboard', leaderboard_competition_path(@competition), class: 'custom-link' %></li>
  <li> <%= link_to 'View your current predictions', match_predictions_current_predictions_path, class: 'custom-link' %> </li>
</ul>
<br>
<p>Current Game Week <%= @competition.match_day %></p>
</section>

<% @competition.game_weeks.each do |game_week| %>
  <%= link_to "Game Week #{game_week.week_number}", competition_game_week_path(@competition, game_week) %>
<% end %>



<%= turbo_frame_tag "first_turbo_frame" do %>
  <h1>First Turbo Frame</h1>
  <%= link_to "Game Week", competition_game_week_path(@competition), class: "btn btn--primary" %>
<% end %>

