<p>hello from competitions show</p>

<p><%= link_to 'Your Competitions Home Page', competitions_path%></p>

<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.id %></td>
    </tr>
  <% end %>
</table>

<table>
  <% @competition_matches.each do |match| %>
    <% match.match_prediction.each do |match_prediction| %>
    <tr>
      <td><%= match.home_team %></td>
      <td><%= match.away_team %></td>
      <td><%= match.home_score %></td>
      <td><%= match.away_score %></td>
      <td><%= match_prediction.home_score_guess %></td>
      <td><%= match_prediction.away_score_guess %></td>
    </tr>

    <% end %>
  <% end %>

</table>
