<section class="p-6 my-12">
<h1>hello from competitions show</h1>

<% if current_user.admin? %>
  <%= link_to "Update Competition Match Day", current_match_day_competition_path(@competition), data: { 'turbo-method' => :post } %>
  <br>
  <%= link_to 'Add Player', edit_competition_path(@competition) %>
<% end %>

<p><%= link_to 'Competitions Home Page', competitions_path%></p>
<p><%= link_to 'Leaderboard', leaderboard_competition_path(@competition) %></p>


<%= link_to 'View your current predictions', match_predictions_current_predictions_path %>

<p>Game Week = <%= @competition.match_day %></p>
</section>

<%= render @game_weeks %>
