<p>hello from competitions show</p>

<p><%= link_to 'Your Competitions Home Page', competitions_path%></p>

<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.id %></td>
    </tr>
  <% end %>
</table>

<% @competition_game_weeks.each do |game_week| %>
  <p>Game Week<%= game_week.week_number %></p>
  <table>
    <% game_week.matches.each do |match| %>
    <tr>
      <td><%= match.home_team %></td>
      <td><%= match.away_team %></td>
      <td><%= match.home_score %></td>
      <td><%= match.away_score %></td>
      <% match.match_predictions.each do |match_prediction| %>
        <td><%= match_prediction.home_score_guess %></td>
        <td><%= match_prediction.away_score_guess %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
