<h3 id=game-week-<%= game_week.week_number %>><%= "Game Week " + game_week.week_number.to_s %></h3>

<% if current_user.role == "admin" %>
  <% if game_week.matches.any? { |match| match.status != "FINISHED" }  %>
    <p><%= link_to "- Update", competition_game_week_path(@competition, game_week), data: {turbo_method: :patch} %></p>
  <% else %>
    <p class="text-slate-500 inline">- All Matches Up To Date</p>
  <% end %>
<% end %>

<div class="overflow-auto mb-8">
  <table class="table-auto border-collapse overflow-scroll w-full">
    <% game_week.matches.each_with_index do |match, i| %>
    <tr>
      <% if i == 0 %>
        <td colspan="6"></td>
        <% game_week.users.order(id: :asc).each do |user| %>
          <td colspan="2" class="px-4 text-center -rotate-45 h-12"><%= user.username %></td>
        <% end %>
      </tr>
    <% end %>

    <tr class=" border-none">
      <td></td>
      <td class="px-4 border border-solid border-black text-center bg-<%= match.home_team %>-50 <%= "text-" + "#{match.home_team}" + "text-50"%>"><%= match.home_team %></td>
      <td class="px-4 bg-cyan-50 text-center">vs</td>
      <td class="px-4 border border-solid border-black text-center bg-<%= match.away_team %>-50 <%= "text-" + "#{match.away_team}" + "text-50"%>"><%= match.away_team %></td>
      <td class="px-4 bg-sky-100 text-center"><%= match.home_score %></td>
      <td class="px-4 bg-sky-100 text-center"><%= match.away_score %></td>
      <% match.match_predictions.order(user_id: :asc).each do |match_prediction| %>
        <td class="px-4 border-l text-center <%= 'bg-green-600' if match_prediction.result == "1" %><%= 'bg-yellow-400' if match_prediction.result == "3" %>">
        <%= match_prediction.home_score_guess ? match_prediction.home_score_guess : "-" %>
        </td>
        <td class="px-4 border-r text-center <%= 'bg-green-600' if match_prediction.result == "1" %><%= 'bg-yellow-400' if match_prediction.result == "3" %>">
        <%= match_prediction.away_score_guess ? match_prediction.away_score_guess : "-" %>
        </td>
      <% end %>
    </tr>
    <% end %>

    <tr >
    <td colspan="4"></td>
    <td colspan="2" class="text-center pb-4">Total</td>
      <% game_week.users.order(id: :asc).each do |user| %>
        <td colspan="2" class="text-center text-red-600 pb-4"><%= game_week.weekly_score(user) %></td>
      <% end %>
    </tr>
  </table>
</div>
