<p>hello world</p>

<% if @game_week.errors.any? %>
  <% @game_week.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_with model: [ @competition, @competition.game_weeks.build ] do |gw| %>
  <%= gw.label :start_date %>
  <%= gw.date_field :start_date%>
  <%= gw.label :end_date %>
  <%= gw.date_field :end_date%>
  <%= gw.label :week_number %>
  <%= gw.number_field :week_number%>
  <%= gw.submit %>
<% end %>
