<p>Game Week <%= @game_week.week_number %></p>

<%= link_to 'DELETE', destroy_game_week_path, data: { "turbo-method": :delete } %>




<% @game_week.matches.each do |match| %>
  <p><%= match[:home_team] %></p>
  <p><%= match[:away_team] %></p>
  <% if match[:home_score] == nil %>
    <p>-</p>
  <% else %>
    <p><%= match[:home_score] %></p>
  <% end %>
  <% if match[:away_score] == nil %>
    <p>-</p>
  <% else %>
    <p><%= match[:away_score] %></p>
  <% end %>
  <br>

<% end %>
