<p>Hello from current predictions</p>

<p>These are all your active predictions, you can still update your predictions until 24 hours before the match is scheduled to play</p>

<%= form_with model: @user, url: match_predictions_current_predictions_update_path do |form| %>
      <%= form.fields_for :match_predictions, @curren_predictions do |pf| %>
        <% match = Match.find(pf.object[:match_id]) %>
        <%= "#{match.home_team} VS #{match.away_team}" %>
        <%= pf.number_field :home_score_guess %>
        <%= pf.number_field :away_score_guess %>
      <% end %>
  <%= form.submit %>
<% end %>
