<p>edit match prediction</p>

<%= form_with model: @match_prediction do |form| %>
  <%= @match_prediction.match.home_team %>
  <%= form.number_field :home_score_guess  %>
    <%= @match_prediction.match.away_team %>
  <%= form.number_field :away_score_guess  %>
  <%= form.hidden_field :game_week_id %>
  <%= form.submit %>
<% end %>
