<h1>MATCH PREDICTION</h1>

<%= form_with url: match_predictions_path do |form| %>
  <%= form.text_field :home_score_guess_0%>
  <%= form.text_field :away_score_guess_0 %>
  <%= form.text_field :home_score_guess_1 %>
  <%= form.text_field :away_score_guess_1 %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit %>
<% end %>
