<h1>MATCH PREDICTION</h1>


<%= form_with url: "/match_predictions", method: :post do |f| %>
<%# below we are iterating over the @emptypredictions array (populated with empty
instances of Prediction) and for each of the predictions we are creating form fields with fields_for %>
  <% @empty_predictions.each do |prediction| %>
  <%# normally fields_for is used to nest a second model within a form, but it can also be used
  without the model. In this case we are telling it that the fields generated should be associated
  with "predictions[]", and the values should be prediction objects. This is because we want to pass
  in the params a predictions attributes which is an empty array of isntances of prediction %>
    <%= fields_for "predictions[]", prediction do |p| %>
    <%# Here we are finding the matches the predictions will be associated with. We are retrieving
   'match' from the @matches array using an index. Since the @empty_predictions array is based on the
   @matches array, we can use the index of the current prediction in the @empty_predictions
   array to look for the corrisponding match.
   ACTUALLY --> a match prediction belongs to a match, so an easier way of doign this is prediction.match? %>
      <% match = @matches[@empty_predictions.index(prediction)] %>
      <%= p.label "#{match.home_team} VS #{match.away_team}" %>
      <%= p.number_field :home_score_guess %>
      <%= p.number_field :away_score_guess %>
      <%= p.hidden_field :match_id, value: match.id %>
    <% end %>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= raise %>
  <%= f.submit %>
<% end %>
