<!DOCTYPE html>
<html>
  <head>
    <title>FutballFantasy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-indigo-700 shadow-lg">
      <div class="container mx-auto">
        <div class="sm:flex justify-around">
          <%= link_to("HOME", root_path, class: "text-white text-3xl font-bold p-3") %>

          <ul class="text-grey-400 sm:self-center text-xl border-t sm:border-none">
            <li class="sm:inline-block">
              <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "p-3 hover:text-white" %>
            </li>
            <li class="sm:inline-block">
              <%= "#{current_user.email}" if current_user %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="devise-alerts">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="prose mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
